#side-bar {
    position: fixed;
    left: 0;
    top: 0;
}
#side-bar img {
    width: 1.3em;
    height: 1.3em;
}
.nav-link {
    margin-top: 1em;
    margin-bottom: 1em;
}
#top-bar {
    position: fixed;
    top: 0;
    height: 4em;
    background-color: white;
}
.menu-icon {
    top: 1.3em;
    right: -90%;
}
.icon-only {
    top: 1.1em;
}
.logo-height {
    height: 80px;
}
.info-box {
    display: flex;
    justify-content: flex-end;
}
#top-bar img {
    width: 1.5em;
    height: 1.5em;
}
